*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color:aliceblue;
}
.heading{
  text-align: center;
  margin:30px 0 20px 0;
  font-size: 40px;
}
.Container{
  display: grid;
  grid-template-columns: auto auto auto;
}
.Container img{
  width: 300px;
  height: 300px;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid black;
  border-radius:20px ;
}
.Product-Loading {
  display: flex;
  justify-content: center;
}
.Product-Loading div {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px){
  .Box{
    width: 100%;
  }
  .Container img{
    width:200px;
    height:200px
  }
}

@media screen and (max-width: 540px){
  .Container{
   padding:0
  }
  .heading{
    font-size: 20px;
  }
  .Container img{
    width: 200px;
    height:200px
  }
}
@media screen and (max-width: 440px){
  .Container{
    grid-template-columns: auto auto ;
  }
  .Container img{
    width:150px;
    height:150px;
   
  }
}