*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color:be;
}
.heading{
  text-align: center;
  margin:30px 0 20px 0;
  font-size: 40px;
}
.Container{
  display: grid;
  grid-template-columns: auto auto auto;
}
img{
  width: 300px;
  height: 300px;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid black;
  /* box-shadow: 2px 2px 5px 3px rgb(146, 146, 146); */
  border-radius:20px ;
}
.Product-Loading {
  display: flex;
  justify-content: center;
}
.Product-Loading div {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px){
  
  img{
    width:200px;
    height:200px
  }
}

@media screen and (max-width: 540px){
  /* .Container{
    grid-template-columns: auto auto ;
  } */
  .heading{
    font-size: 20px;
  }
  img{
    width: 200px;
    height:200px
  }
}
@media screen and (max-width: 440px){
  .Container{
    grid-template-columns: auto auto ;
  }
  img{
    width: 150px;
    height:150px;
    /* margin-left: 0; */
    
  }
}